@using ApplicationCore_WebReklam.DTO_s.RequestFormDTO
@{
    ViewData["Title"] = "GetForm";
}
@model CreateRequestFormDTO


<div class="bg-dark-half"></div>
<div class="container-fluid bid-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row mx-0 bid-form-container">
                <div class="col-lg-12 titles">
                    <h3>Talep Formu</h3>
                    <span>Satış ekibimiz size yardımcı olmaktan mutluluk duyacaktır.</span>
                </div>
                <div class="col-lg-3">
                    <div class="bid-form-section">
                        <h4 class="bid-section-title mb-3">Reklam vermek istediğiniz il ve ya illeri seçiniz.</h4>
                        <select onchange="printMsg(event)" id="my-select" asp-items=(SelectList)@ViewData["Cities"] class="form-control">
                            <option selected disabled>Şehirler</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bid-form-section mall-list">
                        <h4 class="bid-section-title mb-3">Reklam vermek istediğiniz AVM’ler seçtiğiniz illere göre filtrelenecektir.</h4>
                        <select onchange="sendVillage(event)" id="cities" class="form-control">
                            <option selected disabled>Lütfen bir şehir seçiniz</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <form asp-action="GetForm" id="bid-form" class="bid-form-section">
                        <input type="hidden" asp-for="VilaggeId" id="villageId" />
                        <h4 class="bid-section-title">Talep Formu<br /><br /></h4>
                        <input name="firstName" asp-for="FirstName" class="form-control placeholder-white"  placeholder="Ad" />
                        <input name="lastName" asp-for="LastName" class="form-control placeholder-white"  placeholder="Soyad" />
                        <input name="email" asp-for="Email" class="form-control placeholder-white" placeholder="E-Posta" />
                        <input name="phoneNumber" asp-for="PhoneNumber" class="form-control placeholder-white" placeholder="Telefon" />
                        <input name="companyName" asp-for="CompanyName" class="form-control placeholder-white" placeholder="Şirket" />
                        <textarea name="message" asp-for="Message" class="form-control placeholder-white"  placeholder="Mesajınız"></textarea>
                        <button type="submit" id="send_button" class="btn btn-outline btn-rounded bid-form-btn active">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
