@using ApplicationCore_WebReklam.DTO_s.AccountDTO
@{
    ViewData["Title"] = "PasswordChange";
}
@{
    Layout = null;
    if (User.IsInRole("student") || User.IsInRole("teacher"))
    {
        Layout = "~/Views/Shared/LayoutAlternative.cshtml";
    }
    else if (User.IsInRole("admin"))
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "_Layout";
    }
}
@model UserPasswordChangeDTO
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="text-center"><span class="fas fa-key"></span>Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="PasswordChange" asp-controller="Account" method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input class="form-control" asp-for="CurrentPassword" type="password" placeholder="Lütfen, şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input class="form-control" asp-for="NewPassword" type="password" placeholder="Lütfen, şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input class="form-control" asp-for="RepeatPassword" type="password" placeholder="Lütfen, şifrenizi giriniz." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <div class="card-footer" style="height:50px;">
                        <button type="submit" class="btn btn-outline-primary float-end">Kaydet</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary float-start">Anasayfa</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>